body {
  background-image: url('/images/cityhackbg.jpg');
  background-position: center;
  background-size: cover;
  cursor: crosshair;
  font-weight: bold;
  margin: 0;
  overflow: hidden;
  padding: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#hud {
  bottom: 10px;
  position: absolute;
  right: 10px;
  z-index: 100;
}
p {
  background-color: #EEEEEE;
  border: 1px solid black;
  display: inline-block;
  margin: 0;
  padding: 5px;
}
#radar {
  background-color: #EEEEEE;
  border: 1px solid black;
  bottom: 10px;
  left: 10px;
  position: absolute;
  z-index: 100;
}
#intro {
  background-color: #000000;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 32px;
  opacity: 0.7;
  padding: 120px;
  text-align: center;
  z-index: 1001;
}
#hurt {
  background-color: red;
  display: none;
  left: 0;
  opacity: 0.15;
  pointer-events: none;
  position: absolute;
  top: 0;
  z-index: 1002;
}
#floating-message {
  bottom: 40px;
  position: fixed;
  z-index: 999;
  width: 200px;
  height: 70px;
  left: 50%;
  transform: translateX(-50%);
  align-items: center;
  justify-content: center;
  font-weight: bold;
  transition: display 0.4s;
  border-radius: 8px;
  font-size: 16px;
  min-width: 200px;
  background-color: rgba(255, 255, 255, 0.9);
}
.overlay {
  position: fixed; /* Positioning and size */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(128,128,128,0.5); /* color */
  display: none; /* making it hidden by default */
  pointer-events: none; /* Prevent events from propagating to background */
}
.modal {
  position: fixed; /* positioning in center of page */
}
#instructions {
  position: absolute;
  top: 10px;
  font-size: 12px;
  right: 16px;
  padding: 8px;
  background-color: rgba(255, 255, 255, .85);
}

#my-schedule-container {
  position: absolute;
  top: 10px;
  font-size: 12px;
  left: 16px;
  background-color: transparent;
}

#my-schedule-btn {
  height: 100px;
  width: 100px;
  border-radius: 50px;
}

#cityu-logo {
  display: block;
  width: 90px;
  margin: 0 auto;
  height: auto;
}
#credits {
  font-size: 12px;
  position: absolute;
  text-align: center;
  top: 10px;
  padding: 16px;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0,0,0,0.5);
  left: 50%;
  transform: translateX(-50%);
}
#credits-text {
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 8px;
  font-size: 12px;
  background-color: rgba(255, 255, 255, .85);
}
.glass {
  background-color: rgba(255, 255, 255, .55);
  backdrop-filter: blur(12px);
  border-radius: 4px;
}

.ctt-matrix-th-day {
  text-align: center;
}

.ctt-matrix-container {
  margin-top: 16px;
}

.ctt-matrix-container, .ctt-matrix {
  width: 100%;
}

@media (min-width: 960px) {
  .modal-dialog {
    max-width: 900px !important;
  }
}
